@using MSLivingChoices.Mvc.Uipc.Client.Enums
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.SearchVm

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section scripts
{
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("Scripts")
    }
    <script>
        
            setTimeout(() => {
                var items = document.getElementsByClassName('clk');
                for (var i = 0; i < items.length; i++) {
                    items[i].click();
                }
            }, 100);
        
    </script>
}

<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Search  Results</h1>
            </div>
        </div>
    </div>
</div>
@RenderBody()
