@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.SearchVm

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section scripts
{
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("Scripts")
    }
}

<div class="ind-s content">
    @RenderBody()
</div>
