@using MSLivingChoices.Entities.Client.Search.Criteria
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModelsProviders
@using MSLivingChoices.Mvc.Uipc.Enums
@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CommunityDetailsVm

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-detail">
                            <div class="blog-post">
                                <div class="blog-post-image">
                                    <img class="img-fluid" src="images/blog/01.jpg" alt="">
                                </div>
                                <div class="blog-post-content border-0 text-left">
                                    <div class="blog-post-details">
                                        <div class="blog-post-footer border-0 justify-content-start">
                                            <div class="blog-post-time">
                                                <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                            </div>
                                            <div class="blog-post-author">
                                                <span>
                                                    By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a>
                                                </span>
                                            </div>
                                            <div class="blog-post-comment">
                                                <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                            </div>
                                        </div>
                                        <div class="blog-post-title">
                                            <h3 class="mb-4 text-dark"><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h3>
                                        </div>
                                        <div class="blog-post-description">
                                            <p>
                                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur, assumenda
                                                provident lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam sunt hic
                                                perspiciatis, asperiores mollitia excepturi voluptatibus sequi nostrum ipsam veniam omnis
                                                nihil! A ea maiores corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            </p>
                                            <i class="text-primary d-block my-3">
                                                The first thing to remember about success is that it is a
                                                process – nothing more, nothing less. There is really no magic to it and it’s not reserved
                                                only for a select few people.
                                            </i>
                                            <p>
                                                For those of you who are serious about having more, doing more, giving more and being more,
                                                success is achievable with some understanding of what to do.
                                            </p>
                                            <div class="row mb-4">
                                                <div class="col-lg-7">
                                                    <img class="img-fluid mb-3" src="images/blog/02.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 mb-3 ">
                                                    <img class="img-fluid" src="images/blog/05.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="p-4 p-lg-5 bg-primary text-white mb-4">
                                                <div class="d-flex">
                                                    <i class="fas fa-quote-left quotes"></i>
                                                    <div class="pl-4">
                                                        <p class="text-white">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                                        </p>
                                                        <span class="font-weight-bold">– Daniel Pink</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                The sad thing is the majority of people have no clue about what they truly want. They have no
                                                clarity. When asked the question, responses will be superficial at best, and at worst.
                                            </p>
                                            <nav class="navigation post-navigation mt-4">
                                                <div class="nav-links">
                                                    <div class="nav-previous">
                                                        <a href="#"><span class="pagi-text"><i class="fas fa-angle-left"></i> PREV</span><span class="nav-title"> Lawn court villa</span></a>
                                                    </div>
                                                    <div class="nav-next">
                                                        <a href="#"><span class="nav-title"> Executive 4 bed WDM ranch</span> <span class="pagi-text">NEXT <i class="fas fa-angle-right"></i></span></a>
                                                    </div>
                                                </div>
                                            </nav>
                                            <div class="mt-4">
                                                <h3 class="mb-4 text-dark">About author</h3>
                                                <div class="border p-4">
                                                    <div class="d-sm-flex">
                                                        <div class="avatar avatar-xlll">
                                                            <img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
                                                        </div>
                                                        <div class="pl-sm-4">
                                                            <p> <span class="text-primary"> Posted by :</span> Kevin Martin</p>
                                                            <p>
                                                                Proin gravida nibh vel velit auctor aliquet lorem ipsum dolor sit amet of Lorem
                                                                Ipsum. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
                                                                sagittis sem nibh id elit.
                                                            </p>
                                                            <div class="social-icon d-flex">
                                                                <span>Follow us:</span>
                                                                <ul class="list-unstyled mb-0 ml-3 list-inline">
                                                                    <li class="list-inline-item">
                                                                        <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                                                    </li>
                                                                    <li class="list-inline-item"> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                                                    <li class="list-inline-item">
                                                                        <a href="#"> <i class="fab fa-instagram"></i> </a>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <a href="#"> <i class="fab fa-linkedin"></i> </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h3 class="mb-4 text-dark">Related Post</h3>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="owl-carousel owl-dots-bottom-center owl-loaded owl-drag" data-nav-dots="true" data-items="2" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30">



                                                            <div class="owl-stage-outer">
                                                                <div class="owl-stage" style="transform: translate3d(-760px, 0px, 0px); transition: all 1s ease 0s; width: 2660px;">
                                                                    <div class="owl-item cloned" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>RETIREMENT TIPS</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">7 Reasons to Retire in Virginia...</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                There are LOTS of reason to retire in Virginia, from an
                                                                                                abundance of history
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item cloned" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/03.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>SENIOR FINANCES</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                There are LOTS of reason to retire in Virginia, from an
                                                                                                abundance of history
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item active" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/01.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>SENIOR FINANCES</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                Growing old doesn’t have to mean dealing with the onset of
                                                                                                aches and pains
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item active" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>RETIREMENT TIPS</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">7 Reasons to Retire in Virginia...</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                There are LOTS of reason to retire in Virginia, from an
                                                                                                abundance of history
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/03.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>SENIOR FINANCES</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                There are LOTS of reason to retire in Virginia, from an
                                                                                                abundance of history
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item cloned" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/01.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>SENIOR FINANCES</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                Growing old doesn’t have to mean dealing with the onset of
                                                                                                aches and pains
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item cloned" style="width: 350px; margin-right: 30px;">
                                                                        <div class="item">
                                                                            <div class="blog-post">
                                                                                <div class="blog-post-image">
                                                                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                                                                </div>
                                                                                <div class="blog-post-content">
                                                                                    <div class="blog-post-details">
                                                                                        <div class="blog-post-category">
                                                                                            <a class="mb-3" href="#"><strong>RETIREMENT TIPS</strong></a>
                                                                                        </div>
                                                                                        <div class="blog-post-title">
                                                                                            <h5><a href="blog-detail.html">7 Reasons to Retire in Virginia...</a></h5>
                                                                                        </div>
                                                                                        <div class="blog-post-description">
                                                                                            <p class="mb-0">
                                                                                                There are LOTS of reason to retire in Virginia, from an
                                                                                                abundance of history
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="blog-post-footer">
                                                                                        <div class="blog-post-time">
                                                                                            <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                                                                                        </div>
                                                                                        <div class="blog-post-author">
                                                                                            <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Henriquez </a> </span>
                                                                                        </div>
                                                                                        <div class="blog-post-comment">
                                                                                            <a href="#"> <i class="far fa-comment"></i>(0) </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-5">
                                            <div class="media mb-3">
                                                <div class="avatar avatar-md">
                                                    <img src="images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                                </div>
                                                <div class="media-body ml-3 border p-4">
                                                    <div class="d-flex">
                                                        <h6 class="mt-0 text-primary">
                                                            Kevin Martin <span class="text-dark pl-4 small">
                                                                12 Aug
                                                                2018
                                                            </span>
                                                        </h6>
                                                        <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                                    </div>
                                                    <p>
                                                        Then work backwards to develop the plan. What steps are required to get you to the goals?
                                                        Make the plan as detailed as possible. Try to visualize and then plan.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="media mb-3 ml-5">
                                                <div class="avatar avatar-md">
                                                    <img src="images/avatar/02.jpg" class="img-fluid rounded-circle" alt="...">
                                                </div>
                                                <div class="media-body ml-3 border p-4">
                                                    <div class="d-flex">
                                                        <h6 class="mt-0 text-primary">
                                                            Kevin Martin <span class="text-dark pl-4 small">
                                                                12 Aug
                                                                2018
                                                            </span>
                                                        </h6>
                                                        <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                                    </div>
                                                    <p>
                                                        Along with your plans, you should consider developing an action orientation that will
                                                        keep you motivated to move forward at all times. This requires a little self-discipline.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="media mb-3 ml-5">
                                                <div class="avatar avatar-md">
                                                    <img src="images/avatar/02.jpg" class="img-fluid rounded-circle" alt="...">
                                                </div>
                                                <div class="media-body ml-3 border p-4">
                                                    <div class="d-flex">
                                                        <h6 class="mt-0 text-primary">
                                                            Kevin Martin <span class="text-dark pl-4 small">
                                                                12 Aug
                                                                2018
                                                            </span>
                                                        </h6>
                                                        <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                                    </div>
                                                    <p>
                                                        Along with your plans, you should consider developing an action orientation that will
                                                        keep you motivated to move forward at all times. This requires a little self-discipline.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="media mb-3">
                                                <div class="avatar avatar-md">
                                                    <img src="images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                                </div>
                                                <div class="media-body ml-3 border p-4">
                                                    <div class="d-flex">
                                                        <h6 class="mt-0 text-primary">
                                                            Kevin Martin <span class="text-dark pl-4 small">
                                                                12 Aug
                                                                2018
                                                            </span>
                                                        </h6>
                                                        <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                                    </div>
                                                    <p>
                                                        Then work backwards to develop the plan. What steps are required to get you to the goals?
                                                        Make the plan as detailed as possible. Try to visualize and then plan.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="mt-sm-4 mt-5">
                                                <h3 class="mb-4 text-dark">Leave a Reply</h3>
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" id="wesite" placeholder="Website URL">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email Adress">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" id="phone-number" placeholder="Phone Number">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <a class="btn btn-primary" href="#">Send message</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="blog-sidebar">
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Find what you want</h6>
                        </div>
                        <div class="search">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search....">
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="list-unstyled list-style mb-0">
                            <li><a href="#">Adult Day Care</a></li>
                            <li><a href="#">End of Life</a></li>
                            <li><a href="#">Financial &amp; Legal</a></li>
                            <li><a href="#">Hospice Care</a></li>
                            <li><a href="#">In Home Care Services</a></li>
                            <li><a href="#">Moving &amp; Storage</a></li>
                            <li><a href="#">Respite Care</a></li>
                            <li><a href="#">Respite Care</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Popular Tags</h6>
                        </div>
                        <div class="popular-tag">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Bootstrap</a></li>
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">Wordpress</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Multipurpose</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Color</a></li>
                                <li><a href="#">Lifestyle</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Join our email list</h6>
                        </div>
                        <div class="footer-subscribe">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
