@using UserManagementSystem.Business.Components
@using UserManagementSystem.Localization
@model UserManagementSystem.Web.Models.LogOnViewModel

<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@String.Format(StaticContent.Txt_LogOn, Model.Username)<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(StaticContent.Ttl_ChangePassword, "ChangePassword", "Account")</li>
            <li>@Html.ActionLink(StaticContent.Ttl_EditProfile, "Edit", "Account", new { id = AccountBc.Instance.GetCurrentUserId() }, null)</li>
            <li>@Html.ActionLink(StaticContent.Ttl_LogOff, "LogOff", "Account")</li>
        </ul>
    </li>
</ul>