@using MSLivingChoices.Localization

<div class="modal fade" id="pop-up-community-unit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn btn-icon-brand-red cropped icon-close close"
                        data-dismiss="modal"
                        aria-hidden="true">
                </button>
                <div class="modal-title">
                    <h4 class="txt-brand-red txt-bold txt-upper">
                        @StaticContent.Info_Explore
                        <span data-bind="text: leadForm.listingName"></span>
                    </h4>
                </div>
            </div>
            <div class="modal-body clearfix">
                <div class="nanobar">
                    <div class="bar"></div>
                </div>
                <div class="clearfix pad-l">
                    <div class="col-any-14 row-wrap">
                        <div data-bind="photoTour: images"></div>
                        <ul class="clearfix list-inline txt-black ind properties indent">
                            <!-- ko if: beds() && beds().isValued -->
                            <li class="icon-bed">
                                <strong data-bind="text: beds().value"></strong>
                                <span data-bind="text: beds().unit"></span>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: bathes() && bathes().isValued -->
                            <li class="icon-bath">
                                <strong data-bind="text: bathes().value"></strong>
                                <span data-bind="text: bathes().unit"></span>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: area() && area().isValued -->
                            <li class="icon-square">
                                <strong data-bind="text: area().value"></strong>
                                <span data-bind="text: area().unit"></span>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: price() -->
                            <li>
                                <strong data-bind="text: price"></strong>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <div data-bind="with: leadForm" class="col-any-10 complex">
                        @{ Html.RenderPartial("~/Views/Client/Controls/LeadForm/Inline.cshtml"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>