<ul class="nav-tabs tabs-inline tabs-brand" style="position:absolute;"
    data-bind="foreach: controls">
    <li class="txt-upper"
        data-bind="css: { active: $parent.mode() === mode }, click: $parent.turnMode">
        <a href="javascript:void(0)">
            <i data-bind="css: icon"></i>
            <span data-bind="text: label"></span>
        </a>
    </li>
</ul>
<form class="directions-control" style="position:absolute;z-index:99999;"
      data-bind="visible: mode() !== 'street-view', submit: showDirections">
    <div class="col-any-16">
        <label class="input-stack">
            <span class="input-group">
                <span class="prepend icon-mapview"></span>
                <input type="text"
                       class="form-control"
                       placeholder="Starting address"
                       data-bind="value: startingAddress" />
            </span>
        </label>
    </div>
    <div class="col-any-8">
        <button type="submit"
                class="btn btn-block btn-brand-red cropped"
                disabled="disabled"
                data-bind="css: { 'in-progress': pending }, disable: false">
            <span>Get Directions
            </span>
        </button>
    </div>
</form>
<div class="tab-content" style="width:100%;height:100%;">
    <div class="tab-pane active" style="width: 100%; height: 100%;"
         data-bind="css: { active: !showStreetViewStub() }">
        <div class="map-canvas" style="width: 100%; height: 100%;"
             data-bind="css: { 'collapsed': direction }">
        </div>
        <div class="direction"
             data-bind="'with': direction, css: { expanded: direction }">
            <div class="strong txt-incr overview grid-row">
                <div class="col-any-21">
                    <span>Drive</span>
                    <span data-bind="text: distance"></span>
                    <span data-bind="text: duration"></span>
                </div>
                <div class="col-any-3 row-wrap txt-right">
                    <button type="button"
                            class="btn btn-icon-brand-red cropped icon-close close"
                            data-bind="click: $parent.hideDirections">
                    </button>
                </div>
                <span class="hpad">
                    <a target="_blank"
                       data-bind="href: $parent.printUrl">Print Directions
                    </a>
                </span>
            </div>
            <ul class="list-unstyled steps hpad">
                <li class="txt-black txt-bold icon-startpoint"
                    data-bind="text: start"></li>
                <!-- ko foreach: steps -->
                <li class="step">
                    <div class="grid-row">
                        <div class="col-any-4" data-bind="'if': icon">
                            <img class="step-icon"
                                 data-bind="attr: { src: icon, alt: maneuver }" />
                        </div>
                        <div class="col-any-20 col-follow">
                            <span class="instruction"
                                  data-bind="html: instructions"></span>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-any-offset-4 col-any-20 line"></div>
                        <div class="distance">
                            <span data-bind="text: distance"></span>/<span data-bind="    text: duration"></span>
                        </div>
                    </div>
                </li>
                <!-- /ko -->
                <li class="ind txt-black txt-bold icon-endpoint"
                    data-bind="text: end"></li>
            </ul>
        </div>
    </div>
    <div class="tab-pane street-view-stub centred" style="display:none;"
         data-bind="css: { active: showStreetViewStub }">
        <span class="txt-black txt-incr txt-bold">Sorry, but we could not find matching street view panorama for this listing.
        </span>
    </div>
</div>