<ul class="nav-tabs tabs-inline tabs-brand"
    data-bind="foreach: controls">
    <li class="txt-upper"
        data-bind="css: { active: $parent.mode() === mode }, click: $parent.turnMode">
        <a href="javascript:void(0)">
            <i data-bind="css: icon"></i>
            <span data-bind="text: label"></span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active"
         data-bind="css: { active: !showStreetViewStub()}">
        <div class="map-canvas">
        </div>
    </div>
    <div class="tab-pane street-view-stub centred"
         data-bind="css: { active: showStreetViewStub}">
        <span class="txt-black txt-incr txt-bold">
            Sorry, but we could not find matching street view panorama for this listing.
        </span>
    </div>
</div>