@model string

<div class="select"
     data-bind="with: @Model"
     data-select="multi">
    <span class="caption form-control"
          data-bind="text: caption, title: caption"
          data-select="caption"></span>
    <ul class="items multi"
        data-bind="foreach: items"
        data-select="target">
        <li data-bind="css: {'active': selected }">
            <label>
                <input type="checkbox"
                     data-bind="checked: selected, css: {'checked': selected}" />
                <span data-bind="text: text"></span>
            </label>
        </li>
    </ul>
</div>