@using UserManagementSystem.Localization;

@{
    ViewBag.Title = StaticContent.Ttl_Error;
}
    
<h2>
    @ViewData["ErrorMessage"]
</h2>

<p>@ErrorMessages.CurrentPageError1</p>
<p>@ErrorMessages.CurrentPageError2</p>