<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="logs/logs.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyy-MM-dd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %level  %location  %message%newline%exception" />
            </layout>
        </appender>
        <root>
            <appender-ref ref="FileAppender" />
        </root>
    </log4net>

    <connectionStrings>
        <add name="UMS" connectionString="Data Source=dot-net-mssql.npmg-private.io;Initial Catalog=UMS;User ID=Service_SLC;Password=$0ngPa@1334" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version" value="1.0.0.0"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="CssJsVersion" value="1.0.0.3" /><!--should be changed (increased) for every new build-->
        <add key="DefaultUserListPageSize" value="10"/>
        <add key="MaxUserListPageSize" value="50"/>
        <add key="DefaultUserListPageIndex" value="1"/>
        <add key="DefaultUserListAvailablePageIndexesCount" value="10"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>

        <roleManager enabled="true" defaultProvider="AspNetSqlRolesProvider">
            <providers>
                <clear/>
                <add name="AspNetSqlRolesProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="UMS" applicationName="/UMS" />
            </providers>
        </roleManager>

        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                  connectionStringName="UMS"
                  enablePasswordRetrieval="false"
                  enablePasswordReset="true"
                  requiresQuestionAndAnswer="false"
                  applicationName="/UMS"
                  requiresUniqueEmail="true"
                  passwordFormat="Hashed"
                  maxInvalidPasswordAttempts="5"
                  minRequiredPasswordLength="6"
                  minRequiredNonalphanumericCharacters="0"/>
            </providers>
        </membership>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUmsService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://umsws.seniorlivingchoices.com/UmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUmsService" contract="UmsService.IUmsService" name="BasicHttpBinding_IUmsService" />
        </client>
    </system.serviceModel>
</configuration>
