@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CouponVm

<div class="coupon">
    <div class="inner container vpad">
        <div class="row">
            <div class="col-any-12">
                <strong>@Model.Title</strong>
            </div>
            <div class="col-any-12">
                <span class="txt-right">
                    Expires: @Model.ExpirationDate
                </span>
            </div>
        </div>
        <p class="ind-s">
            @Model.Description
        </p>
    </div>
</div>