<script type="text/html" id="map-view">
    <div class="map-view map row" data-container="map" style="height:400px;">
        @{ Html.RenderPartial("~/Views/Client/Controls/DirectionsMap.cshtml"); }
    </div>
</script>
