<script type="text/html" id="radius-designation-hint">
    <h5>Nearby listing
    </h5>
    <button type="button"
            class="btn btn-icon-brand-red cropped icon-close close"
            data-dismiss="popover"
            aria-hidden="true">
    </button>
    <div class="ind-s txt-norm txt-just txt-decr">
        The listing selected was for you based on close distance to target search area.
    </div>
</script>
