<div class="widget-title">
    <h3 class="text-white mb-0"> Order a Free Senior Living Choices Book</h3>
</div>
<div class="widget-content">
    <center>
        <p>
            <a href="http://bookorder.realestatebook.com/default.aspx?refer=SLC"
               rel="nofollow"
               data-ga="book-order"
               target="_blank">
                <img src="~/Content/images/logo/magazine.png" alt="Treb magazine" width="170"/>
            </a>
        </p>

        <a href="http://bookorder.realestatebook.com/default.aspx?refer=SLC"
           class="btn btn-brand-red order-link"
           rel="nofollow"
           target="_blank"
           data-ga="book-order">
            Order
        </a>
    </center>
</div>