<div class="widget-title">
    <h3 class="text-white mb-0"> Senior Living Choices</h3>
</div>
<div class="widget-content">
    <p>
        @*<img src="~/Content/images/logo/magazine.png" alt="Treb magazine" width="170"/>*@
        Learn more about senior housing options, how they differ, and choose the right fit for you.
    </p>
    <a href="http://bookorder.realestatebook.com/default.aspx?refer=SLC"
        class="btn btn-md btn-primary"
        rel="nofollow"
        target="_blank"
        data-ga="book-order">
        Learn More
    </a>
</div>