@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CommunityDetailsVm

@{
    Layout = "~/Views/Client/Shared/_PrintLayout.cshtml";
}

@section scripts
{
    <script>
        mslc.resolve([], function() {
            window.print();
        });
    </script>
}

<div class="row details">
    @{ Html.RenderPartial("~/Views/Client/Print/Partial/CommunityHeader.cshtml"); }
    
    @{ Html.RenderPartial("~/Views/Client/Print/Partial/CommunityInfo.cshtml"); }
    
    @if (Model.Community.DisplayProperties.Coupon)
    {
        <div class="ind avoid-break">
            @{ Html.RenderPartial("~/Views/Client/Print/Partial/Coupon.cshtml", Model.Coupon); }
        </div>
    }
</div>