
<style>
    .header {
        color: #81106A;
        box-shadow: none;
    }

    .btn-primary {
        background: #589694;
        color: #ffffff;
        border: 2px solid transparent;
    }

    .btn-primary.disabled, .btn-primary:disabled {
        background: #589694;
        color: #ffffff;
        border: 2px solid transparent;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #589694;
    }

    ul .items.multi.list-col-any-2 {
        padding: 0;
        padding-left: 10px;
    }

    .refine li {
        font-weight: 700;
    }

    .list-col-any-2 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
        column-gap: 5px;
        background: white;
        position: absolute;
        z-index: 99;
    }

    .items.single {
        position: absolute;
        z-index: 999;
        background: white;
        padding: 30px;
        list-style: none;
        display: none;
    }

    .items.single li {
        cursor: pointer;
    }

    .items.single li:hover {
        background: dodgerblue;
    }
</style>


<form id="refine" data-bind="event: { 'submit': apply }" class=" col-any-16 row-wrap">
    <ul class="refine d-flex justify-content-end align-items-center"
        data-bind="with: controls">
        <li class="col-any-4 clk pr-2"
            data-bind="with: categories"
            data-select="multi">
            <div class="tile clk"
                 data-select="caption">
                <span class="header">
                    Service Categories
                    <i class="icon-arrow-down"></i>
                </span>
                <div data-bind="text: caption"></div>
            </div>
            <ul class="items multi list-col-any-2 clk" style="padding-right:10px; right: 0px; width: 95%;"
                data-bind="foreach: items"
                data-select="target">
                <li data-bind="css: { 'active': selected }">
                    <label>
                        <input type="checkbox"
                               data-bind="checked: selected, css: { 'checked': selected }" />
                        <span data-bind="text: text"></span>
                    </label>
                </li>
            </ul>
        </li>
        <li class="col-any-4 submit" style="display: none"
            data-bind="visible: $data">
            <button class="btn btn-primary btn-md"
                    type="submit"
                    data-bind="css: { 'disabled': $root.isInitial, 'in-progress': $root.pending }">
                <span>Apply</span>
            </button>
        </li>
    </ul>
</form>
