<style>
    .header {
        color: #81106A;
    }
    .btn.btn-brand-red.disabled{
        background-color:dimgray;
        color:white;
    }
    .btn.btn-brand-red {
        background-color: #81106A;
        color: white;
    }
    .header:hover {
        text-decoration: underline;
    }
    ul.items.multi.list-col-any-2 {
        padding:0;
        padding-left: 10px;
    }
</style>
<form id="refine" data-bind="event: { 'submit': apply }" class=" col-any-16 row-wrap">
    <ul class="refine"
        data-bind="with: controls">
        <li class="col-any-4 clk"
            data-bind="with: amenities"
            data-select="multi">
            <div class="tile clk"
                data-select="caption">
                <span class="header">Amenities
                    <i class="icon-arrow-down"></i>
                </span>
                <div data-bind="text: caption"></div>
            </div>
            <ul class="items multi list-col-any-2 clk" style="padding-right:10px;"
                data-bind="foreach: items"
                data-select="">
                <li data-bind="css: { 'active': selected }">
                    <label>
                        <input type="checkbox"
                            data-bind="checked: selected, css: { 'checked': selected }" />
                        <span data-bind="text: text"></span>
                    </label>
                </li>
            </ul>
        </li>
        <li class="col-any-4"
            data-bind="with: categories"
            data-select="multi">
            <div class="tile"
                data-select="caption">
                <span class="header">
                    Listing Types
                    <i class="icon-arrow-down"></i>
                </span>
                <div data-bind="text: caption"></div>
            </div>
            <ul class="items multi list-col-any-2"
                data-bind="foreach: items"
                data-select="">
                <li data-bind="css: { 'active': selected }">
                    <label>
                        <input type="checkbox"
                            data-bind="checked: selected, css: { 'checked': selected }" />
                        <span data-bind="text: text, css: { 'checked': selected }"></span>
                    </label>
                </li>
            </ul>
        </li>
        <li class="col-any-4"
            data-select="multi">
            <div class="tile"
                data-select="caption">
                <span class="header">Price
                    <i class="icon-arrow-down"></i>
                </span>
                <div data-bind="text: priceCaption"></div>
            </div>
            <div class="items multi pad" style="position: absolute; z-index: 999; background-color: white; padding: 20px;"
                data-select="">
                <label class="input-group">
                    <input class="form-control"
                        type="text"
                        placeholder="Min price"
                        maxlength="10"
                        data-bind="textInput: min.text" />
                </label>
                <label class="input-group ind-s">
                    <input class="form-control"
                        type="text"
                        maxlength="10"
                        placeholder="Max price"
                        data-bind="textInput: max.text" />
                </label>
            </div>
        </li>
        <li class="col-any-4"
            data-select="single"
            data-bind="with: beds">
            <div class="tile" data-select="caption">
                <span class="header">
                    <span data-bind="text: caption"></span>
                    <i class="icon-arrow-down"></i>
                </span>
            </div>
            <ul class="items single"
                data-bind="foreach: items"
                data-select="">
                <li data-bind="css: { 'active': selected }, click: $parent.selectItem, text: formatted"></li>
            </ul>
        </li>
        <li class="col-any-4"
            data-select="single"
            data-bind="with: bathes">
            <div class="tile"
                data-select="caption">
                <span class="header">
                    <span data-bind="text: caption"></span>
                    <i class="icon-arrow-down"></i>
                </span>
            </div>
            <ul class="items single"
                data-bind="foreach: items"
                data-select="">
                <li data-bind="css: { 'active': selected }, click: $parent.selectItem, text: formatted"></li>
            </ul>
        </li>
        <li class="col-any-4 submit"
            style="display: none"
            data-bind="visible: $data">
            <!-- ko if: $root.isEmpty() || !$root.isInitial() -->
            <button class="btn btn-brand-red"
                type="submit"
                data-bind="css: { 'disabled': $root.isInitial, 'in-progress': $root.pending }">
                <span>Apply</span>
            </button>
            <!-- /ko -->
            <!-- ko if: !$root.isEmpty() && $root.isInitial() -->
            <button class="btn btn-brand-red"
                type="button"
                data-bind="click: $root.clear, css: { 'in-progress': $root.pending }">
                <span>Clear</span>
            </button>
            <!-- /ko -->
        </li>
    </ul>
</form>
