@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CouponVm

<div class="coupon">
    <div class="inner container vpad">
        <div class="row">
            <div class="col-any-24">
                <strong>@Model.Title</strong>
            </div>
        </div>
        <p class="ind-s">
            @Model.Description
        </p>
        <div class="row ind-s">
            <div class="col-any-14">
                <strong>Expires: @Model.ExpirationDate</strong>
            </div>
            <div class="col-any-10 txt-right">
                <a href="@Model.PrintUrl"
                   target="_blank">
                    PRINT
                </a>
            </div>
        </div>
    </div>
</div>