@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}
<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">About Us</h1>
            </div>
        </div>
    </div>
</div>

<!--=================================
about us -->
<section class="space-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="section-title mb-0">
                    <h1 class="title mb-4">We are changing the Senior Communities &amp; Services Industry with progression and passion.</h1>
                    <p class="lead mb-0">Senior Living Choices is committed to providing seniors with the best resources to choose the perfect living community. We help you filter thousands of active adult communities, independent retirement communities, assisted living, memory care, physical rehabilitation, and skilled nursing communities by location, type, or specific amenities. Whether you are just getting ready to retire to an active lifestyle or looking for products and services to “age in place”  we have the information you need every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
about us -->
<!--=================================
feature -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <h2>Plenty of reasons to choose us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Excellent Reputation</h5>
                        <p class="mb-0">For more than 25 years, finding your perfect home has been our exclusive priority. With decades of experience, we understand your needs to help navigate your search.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like-1"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Peace Of Mind</h5>
                        <p class="mb-0">Choosing your next community shouldn’t have to be a burden. We’ve taken the stress out of the search with a seamless process so you or your loved one can enjoy the next step.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-mortgage"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Tons Of Options</h5>
                        <p class="mb-0">We give you choices so you don’t have to compromise. Our comprehensive database gives you a personalized fit, so you can truly call a place “home”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
feature -->
<!--=================================
testimonial -->
<section class="testimonial-main bg-holder bg-overlay-white-30" 
         style="background-image: url('/Content/images9/bg/01.jpg'); margin-bottom: 100px;">
    
</section>
