@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}


<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">About Us</h1>
            </div>
        </div>
    </div>
</div>

<!--=================================
about us -->
<section class="space-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="section-title mb-0">
                    <h1 class="title mb-4">We are changing the Senior Communities &amp; Services Industry with progression and passion.</h1>
                    <p class="lead mb-0">Senior Living Choices is committed to providing seniors with the best resources to choose the perfect living community. We help you filter thousands of active adult communities, independent retirement communities, assisted living, memory care, physical rehabilitation, and skilled nursing communities by location, type, or specific amenities. Whether you are just getting ready to retire to an active lifestyle or looking for products and services to “age in place”  we have the information you need every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
about us -->
<!--=================================
feature -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <h2>Plenty of reasons to choose us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Excellent Reputation</h5>
                        <p class="mb-0">For more than 25 years, finding your perfect home has been our exclusive priority. With decades of experience, we understand your needs to help navigate your search.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like-1"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Peace Of Mind</h5>
                        <p class="mb-0">Choosing your next community shouldn’t have to be a burden. We’ve taken the stress out of the search with a seamless process so you or your loved one can enjoy the next step.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-mortgage"></i>
                    </div>
                    <div class="feature-info-content">
                        <h5 class="mb-3 feature-info-title">Tons Of Options</h5>
                        <p class="mb-0">We give you choices so you don’t have to compromise. Our comprehensive database gives you a personalized fit, so you can truly call a place “home”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
feature -->
<!--=================================
testimonial -->
<section class="testimonial-main bg-holder bg-overlay-white-30" style="background-image: url(images/bg/01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="owl-carousel owl-dots-bottom-left owl-loaded owl-drag" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">


                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2189px, 0px, 0px); transition: all 1s ease 0s; width: 4380px;">
                            <div class="owl-item cloned" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>We love to pass Senior Living Choices out when we discharge patients. They have great information and Cover a large area.</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Case Manager</h6>
                                            <span class="text-primary">University Hospital</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Jessica Alex</h6>
                                            <span class="text-primary">West Division Street</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>We love to pass Senior Living Choices out when we discharge patients. They have great information and Cover a large area.</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Case Manager</h6>
                                            <span class="text-primary">University Hospital</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Jessica Alex</h6>
                                            <span class="text-primary">West Division Street</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>We love to pass Senior Living Choices out when we discharge patients. They have great information and Cover a large area.</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Case Manager</h6>
                                            <span class="text-primary">University Hospital</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 729.994px;">
                                <div class="item">
                                    <div class="testimonial">
                                        <div class="testimonial-content">
                                            <p><i class="quotes">"</i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
                                        </div>
                                        <div class="testimonial-name">
                                            <h6 class="text-secondary mb-1">Jessica Alex</h6>
                                            <span class="text-primary">West Division Street</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
testimonial -->
<!--=================================
our history -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="testimonial">
                    <div class="testimonial-content">
                        <p><i class="quotes">"</i>We advertise in Senior Living Choices, and we have enjoyed stellar service from them. Senior Living Choices has come up repeatedly in marketing meetings as a company that goes out of their way to assist in our marketing efforts. Our manager Kelly, has mentioned their leadership as someone who deserves our business and has worked hard to get it. We have many options for advertising, but have learned Senior Living Choices is the one to work with. Their efforts, great customer service, and loyalty do not go unnoticed.</p>
                    </div>
                    <div class="testimonial-name">
                        <h6 class="text-secondary mb-1">Bill O</h6>
                        <span class="text-primary">Developer &amp; Advertiser</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
our history -->
