@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');

        $('#ContactUs').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("ContactUs", "Client")',
                data: $('#ContactUs').serialize(),
                success: (res) => {
                    console.log(res);
                    if (res.success == true) {
                        ContactSucceed();
                    }
                    else {
                        alert('Something Went Wrong');
                    }
                }
            });
        });
        function ContactSucceed() {
            // FOR ROMAN TO USE ACCORDINGLY...
        }
    </script>

}


<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="space-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Address</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">PO Box 34062, San Antonio TX, 78265</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Phone</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">210-867-7202</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Email</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">info@SeniorLivingChoices.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="login bg-light p-4 p-sm-5">
                    <h3 class="text-primary">Need Assistance? Please Complete The Contact Form</h3>
                    <form class="mt-4 row">
                        <div class="form-group col-sm-6">
                            <label for="exampleInputName">Name</label>
                            <input type="text" class="form-control" id="exampleInputname" placeholder="Your Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="exampleInputName">Email:</label>
                            <input type="text" class="form-control" id="exampleInputname" placeholder="Your Email">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="exampleInputName">Phone Number</label>
                            <input type="text" class="form-control" id="exampleInputname" placeholder="Phone">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="exampleInputName">I’m interested in</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>I’m interested in</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-12 form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea>
                        </div>
                        <div class="col-6 d-sm-flex align-items-center">
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


