@using MSLivingChoices.Localization

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ContactUs").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    PhoneNumber: {
                        required: true,
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Message: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        minlength: "Name should be at least 3 characters"
                    },
                    Email: {
                        email: "Please enter a valid email address."
                    }
                },
                submitHandler: function () {
                    //Serialize the form datas.
                    var valdata = $("#ContactUs").serialize();
                    //to get alert popup
                    alert(valdata);
                    $.ajax({
                        url: "@Url.Action("ContactUs", "Client")",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: valdata,
                        success: (res) => {
                            if (res.success == true) {
                                ContactSucceed();
                            }
                            else {
                                $('div.alert-danger').show();
                            }
                        }
                    });
                }
            });
        });

        function ContactSucceed() {
            $('div.alert-success').show();
        }
    </script>

}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="space-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Address</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">PO Box 34062, San Antonio TX, 78265</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Phone</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">210-867-7202</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center bg-light">
                    <div class="feature-box-icon">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                    <h4 class="feature-box-title text-primary">Email</h4>
                    <div class="feature-box-content">
                        <p class="mb-0">info@SeniorLivingChoices.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="login bg-light p-4 p-sm-5">
                    <h3 class="text-primary">Need Assistance? Please Complete The Contact Form</h3>
                    <div class="alert alert-success" role="alert" style="display: none; margin-top: 10px;"> <span class="fa fa-check-circle" aria-hidden="true"></span> Form has submitted with successful </div>
                    <div class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;"> <span class="fa fa-info-circle" aria-hidden="true"></span> Please check your submission </div>
                    <form class="mt-4 row" id="ContactUs">
                        <div class="form-group col-sm-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="Name" data-bind="value:Name, valueUpdate: 'afterkeydown'" placeholder="Your Name">
                            <span data-bind='visible: Name.hasError, text: Name.validationMessage'> </span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="Email" data-bind="value:Email" placeholder="Your Email">
                            <span data-bind='visible: Email.hasError, text: Email.validationMessage'> </span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="phonenumber">Phone Number</label>
                            <input type="text" class="form-control" id="phonenumber" name="PhoneNumber" data-bind="value:PhoneNumber" placeholder="Phone">
                            <span data-bind='visible: PhoneNumber.hasError, text: PhoneNumber.validationMessage'> </span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="interest">I’m interested in</label>
                            <select class="form-control" id="interest" name="Interest">
                                <option value="1">I’m interested in Myself</option>
                                <option value="2">Parent</option>
                                <option value="3">Relative</option>
                                <option value="4">Frinend</option>
                                <option value="5">Client</option>
                            </select>
                        </div>
                        <div class="col-12 form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="Message" placeholder="Message" data-bind="value:Message" rows="3"></textarea>
                            <span data-bind='visible: Message.hasError, text: Message.validationMessage'> </span>
                        </div>
                        <div class="col-6 d-sm-flex align-items-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


