@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.addMethod('customphone', function (value, element) {
                return this.optional(element) || /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/.test(value);
            }, "Please enter a valid phone number");
            jQuery.validator.addMethod('state', function (state, element) {
                return this.optional(element) || state.match(/^(A[LKSZRAEP]|C[AOT]|D[EC]|F[LM]|G[ANU]|HI|I[ADLN]|K[SY]|LA|M[ADEHINOPST]|N[CDEHJMVY]|O[HKR]|P[ARW]|RI|S[CD]|T[NX]|UT|V[AIT]|W[AIVY])$/);
            }, "Please specify a valid state");
            jQuery.validator.addMethod("zipcode", function (value, element) {
                return this.optional(element) || /^\d{5}(?:-\d{4})?$/.test(value);
            }, "Please provide a valid zipcode.");
            $("#eBook").validate({
                rules: {
                    FirstName: {
                        required: true,
                    },
                    LastName: {
                        required: true,
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Phone: 'customphone',
                    street: {
                        required: true,
                    },
                    city: {
                        required: true,
                    },
                    state: 'state',
                    zip: 'zipcode'
                },
                messages: {
                    Email: {
                        email: "Please enter a valid email address."
                    }
                },
                submitHandler: function () {
                    //Serialize the form datas.
                    var valdata = $("#eBook").serialize();
                    //to get alert popup
                    $.ajax({
                        url: "@Url.Action("Ebook", "Client")",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: valdata,
                        success: (res) => {
                            if (res.success == true) {
                                ContactSucceed();
                            }
                            else {
                                $('div.alert-danger').show();
                            }
                        }
                    });
                }
            });
        });

        function ContactSucceed() {
            $('div.alert-success').show();
            $("#eBook")[0].reset();
            @*$("#eBook").trigger("reset");*@
        }

    </script>
}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<!--=================================
inner banner -->
<section class="space-ptb">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mb-0">
                            <h1 class="title mb-4">Order Your Complimentary Senior Living Choices Magazine</h1>
                            <p>Senior Living Choices is committed to providing you with the best resources to choose the perfect living community.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="alert alert-success" role="alert" style="display:none; margin-top: 10px;"> <span class="fa fa-check-circle" aria-hidden="true"></span> Form has submitted with successful </div>
                        <div class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;"> <span class="fa fa-info-circle" aria-hidden="true"></span> Please check your submission </div>

                        <form class="mt-4 row" id="eBook">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="firstname" placeholder="First Name (required)" minlength="3" maxlength="20" name="FirstName">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name (required)" minlength="3" maxlength="20" name="LastName">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="email" placeholder="Email Address (required)" name="Email">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="phone" placeholder="Phone" name="Phone" required>
                            </div>
                            <div class="col-12 form-group">
                                <select class="form-control" name="Magazine" id="Magazine">
                                    <option value="-1">Click on the arrow to choose magazine</option>
                                    <option value="1">NE Texas</option>
                                    <option value="2">Dallas </option>
                                    <option value="1">Fort Worth</option>
                                    <option value="1">E.Texas Hill Country</option>
                                    <option value="1">Central Texas Metro Atlanta &amp; Surrounding Areas</option>
                                </select>
                            </div>
                            <div class="col-12 form-group">
                                <input class="form-control" id="exampleFormControlstreet" placeholder="Street Address (required)" name="street">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlcity" placeholder="City (required)" name="city">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlstate" placeholder="State (required)" required name="state">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlzipcode" placeholder="Zip Code (required)" required name="zip">
                            </div>
                            <div class="col-12 form-group mt-4">
                                <h5 class="mb-3">I would like to receive more information on:</h5>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted1" name="chkCommunities">
                                    <label class="custom-control-label" for="dateposted1">Communities</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted2" name="chkHomeHealth">
                                    <label class="custom-control-label" for="dateposted2">Home health</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted3" name="chkPAS">
                                    <label class="custom-control-label" for="dateposted3">Products and Services</label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label class="font-weight-bold mb-4">Would you like us to allow our advertisers from the categories you selected above to send you additional information, and/or to follow up with you?*</label>
                                <div class="custom-control custom-radio mb-3">
                                    <input type="radio" id="radyes" name="rad" value="Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input type="radio" id="radNo" name="rad" value="No" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea class="form-control" id="ExtraMessage" placeholder="Questions/Comments" rows="7" name="ExtraMessage"></textarea>
                            </div>
                            <div class="col-6 d-sm-flex align-items-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-lg-5">
                <div class="mb-4">
                    <img class="img-fluid" src="~/Content/images9/shop/03.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


