@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">

        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');

        $('#ebook').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("EBook", "Client")',
                data: $('#ebook').serialize(),
                success: (res) => {
                    console.log(res);
                    if (res.success == true) {
                        ContactSucceed();
                    }
                    else {
                        alert('Something Went Wrong');
                    }
                }
            });
        });
        function ContactSucceed() {
            // FOR ROMAN TO USE ACCORDINGLY...
        }

    </script>
}

<!--=================================
inner banner -->
<section class="space-ptb">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mb-0">
                            <h1 class="title mb-4">Order Your Complimentary Senior Living Choices Magazine</h1>
                            <p>Senior Living Choices is committed to providing you with the best resources to choose the perfect living community.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form class="mt-4 row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="exampleInputname" placeholder="First Name (required)" name="FirstName">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="exampleInputlastname" placeholder="Last Name (required)" name="LastName">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="exampleInputemail" placeholder="Email Address (required)" name="Email">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="exampleInputphone" placeholder="Phone" name="Phone">
                            </div>
                            <div class="col-12 form-group">
                                <select class="form-control" name="Magazine">
                                    <option value="-1">Click on the arrow to choose magazine</option>
                                    <option value="1">NE Texas</option>
                                    <option value="2">Dallas </option>
                                    <option value="1">Fort Worth</option>
                                    <option value="1">E.Texas Hill Country</option>
                                    <option value="1">Central Texas Metro Atlanta &amp; Surrounding Areas</option>
                                </select>
                            </div>
                            <div class="col-12 form-group">
                                <input class="form-control" id="exampleFormControlstreet" placeholder="Street Address (required)" name="street">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlcity" placeholder="City (required)" name="city">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlstate" placeholder="State (required)" name="state">
                            </div>
                            <div class="col-sm-4 form-group">
                                <input class="form-control" id="exampleFormControlzipcode" placeholder="Zip Code (required)" name="zip">
                            </div>
                            <div class="col-12 form-group mt-4">
                                <h5 class="mb-3">I would like to receive more information on:</h5>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted1" name="chkCommunities">
                                    <label class="custom-control-label" for="dateposted1">Communities</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted2" name="chkHomeHealth">
                                    <label class="custom-control-label" for="dateposted2">Home health</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="dateposted3" name="chkPAS">
                                    <label class="custom-control-label" for="dateposted3">Products and Services</label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label class="font-weight-bold mb-4">Would you like us to allow our advertisers from the categories you selected above to send you additional information, and/or to follow up with you?*</label>
                                <div class="custom-control custom-radio mb-3">
                                    <input type="radio" id="radyes" name="rad" value="Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="radyes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input type="radio" id="radNo" name="rad" value="No" class="custom-control-input">
                                    <label class="custom-control-label" for="radNo">No</label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea class="form-control" id="ExtraMessage" placeholder="Questions/Comments" rows="7" name="ExtraMessage"></textarea>
                            </div>
                            <div class="col-6 d-sm-flex align-items-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-lg-5">
                <div class="mb-4">
                    <img class="img-fluid" src="~/Content/images9/shop/03.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


