@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}


<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Senior Living Choices</h1>
            </div>
        </div>
    </div>
</div>

<section class="space-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center pb-4">
                <div class="section-title">
                    <h2 class="title mb-4">Discover what’s next by understanding your options.</h2>
                    <p class="lead mb-0">Read about the different types of care and communities in order to select the senior living style that suits your needs. With so many communities and choices available, we are committed to helping you easily navigate the process with confidence.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container p-md-0">
        <div class="row">
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ACTIVE ADULT COMMUNITIES</h3>
                    <p class="mb-0">Targeted toward people 55 or older. Many of the communities are single family homes, cottages, apartments, patio homes, condominiums, and townhomes. Many communities offer country club style amenities such as fitness center, movie theater, resort style pool, libraries and computer rooms, activity center, community socials, walking trails pet parks to name a few. The communities are maintenance free some are </p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">SENIORLIVING APARTMENTS</h3>
                    <p class="mb-0">Offer all the amenities of regular apartment communities but have a minimum age requirement, 55 years of age and some are minimum age of 62. Many of these apartments offer reduced rent for those who qualify, they are identified as “affordable” apartment communities. Many of the apartments offer dog parks, BBQ and outside social area, pools, community room, movie theater and fitness center. Apartments offer studio, one and two bedroom, apartments, spacious bathroom and fully equipped kitchens, private balconies, or patios.</p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">INDEPENDENT LIVING COMMUNITIES WITH SERVICES</h3>
                    <p class="mb-0">Also referred to as Retirement Living Communities offering older adult housing that is replete with many amenities and social activities and services. Most communities offer restaurant style dining, frequent outings, and social activities. Utilities, Wifi, and cable are usually included. Transportation is provided by many communities. Some are pet friendly and have walking areas.</p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ASSISTED LIVING COMMUNITIES</h3>
                    <p class="mb-0">Offer help with all aspects of daily activities (bathing, grooming, and dressing assistance perhaps), in atmosphere of private or semi-private units. There is a wide range of services and amenities offered called “levels of care”. Assisted living provides many activities, excellent meals, and beautiful appointments. Kitchenettes and private bathrooms are typical. Scheduled transportation is also provided. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<img class="img-fluid" src="@Url.Content("~/Content/images9/service/02.jpeg")" alt="">

<section class="space-pt">
    <div class="container p-md-0">
        <div class="row">
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">PERSONAL CARE HOMES/RESIDENTIAL CARE HOMES</h3>
                    <p class="mb-0">A home in a residential care setting equipped to give adequate care to three residents. Personal care services may be provided such as assistance with bathing, moving feeding, general oversight of the physical and mental well-being of a personal who needs assistance in a home setting.</p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ALZHEIMER’S / MEMORY CARE COMMUNITIES</h3>
                    <p class="mb-0">Can be a special unit of a free-standing communities designed to sensitively care those with Alzheimer’s or memory-related disorders. Communities provide the daily activities of daily living, excellent meals, courtyard areas, 24-hour care staff. Activity programs designed for patients with Alzheimer’s and other form of memory loss. Some code day-stay & respite stay programs. </p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">SKILLED NURSING / PHYSICAL REHABILITATION COMMUNITIES</h3>
                    <p class="mb-0">Nursing homes may also be referred to as skilled nursing facility (SNF), long-term care facilities, old people's homes,[2] care homes, rest homes, convalescent homes or convalescent care. They provide a wide range of health and personal care services. These services typically include nursing care, 24-hour supervision, three meals a day, and assistance with everyday activities. Rehabilitation services, such as physical, occupational, and speech therapy, are also available. Some people stay at a nursing home for a short time after being in the hospital. After they recover, they go home. However, most nursing home residents live there permanently because they have ongoing physical or mental conditions that require constant care and supervision.</p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">HOSPICE CARE</h3>
                    <p class="mb-0">Can be provided in the home or a senior care community. The focus on hospice care is to provide compassionate physical, emotional, and spiritual support for patients and families.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<img class="img-fluid" src="@Url.Content("~/Content/images9/service/03.jpg")" alt="">

<section class="space-pt">
    <div class="container p-md-0">
        <div class="row">
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">HOME HEALTH CARE</h3>
                    <p class="mb-0">Licensed agencies offer skilled nursing services, physical, occupational and speech therapies. Services may include wound care, distribution of medication.</p>
                </div>
            </div>
            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">IN-HOME CARE /PERSONAL CARE SERVICES</h3>
                    <p class="mb-0">Providers of licensed health care services, in the home and communities offer non-medical assistance with such tasks as bathing, dressing, meal preparation, companion care, light housekeeping and transportation.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ACTIVE ADULT COMMUNITIES 55+</h3>
                    <p class="mb-0">Active adult communities are either age-targeted or age-restricted. They offer home ownership for adults 55+. These communities are maintenance free and offer a monthly association fee. Many of these communities are single family homes, cottages, patio homes, condominiums and townhomes.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">SENIOR APARTMENTS</h3>
                    <p class="mb-0">These offer all the amenities of regular apartment communities but have a minimum age requirement, in some communities it is 55 years of age, in others it is 62. Many of these apartments offer reduced rent for those that qualify, they are identified as "affordable" apartment communities.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">INDEPENDENT LIVING WITH SERVICE COMMUNITIES</h3>
                    <p class="mb-0">These offer older adult congregate housing that is generally replete with many amenities and social activities and services. Most communities offer restaurant-style meals, frequent events and country club style furnishings.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">PERSONAL CARE HOMES</h3>
                    <p class="mb-0">This is a home in a residential care setting equipped to give adequate care to three residents. Personal care services may be delivered, i.e. assistance with bathing, moving, feeding, general oversight of the physical and mental well-being of a person who needs assistance.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ASSISTED LIVING COMMUNITIES</h3>
                    <p class="mb-0">These offer help with all aspects of daily activities (bathing, grooming and dressing assistance, perhaps) in the atmosphere of semi-private living units. There is a wide range of services and amenities offered in this category.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">ALZHEIMER'S MEMORY CARE COMMUNITIES</h3>
                    <p class="mb-0">These can be a special unit of a free-standing community designed to sensitively care for those with Alzheimer's or memory-related disorders.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">SKILLED NURSING / PHYSICAL REHABILITATION COMMUNITIES</h3>
                    <p class="mb-0">These offer hospital-like attention in an institutional atmosphere. These facilities offer 24-hour supervision. The amount of additional services, upkeep, food, and the structure of facilities can vary from nursing home to nursing home. They also may specialize in short term or acute nursing care, intermediate care or long term skilled nursing care.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">HOSPICE CARE</h3>
                    <p class="mb-0">Hospice care may be provided in the home or a senior care facility. Services can include pain management and a variety of emotional, spiritual and physical support issues.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">HOME HEALTH CARE</h3>
                    <p class="mb-0">Home health agencies offer skilled nursing services, wound care, distribution of medication, physical and rehabilitation therapies.</p>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="section-title mb-1">
                    <h3 class="title mb-4">PERSONAL CARE SERVICES</h3>
                    <p class="mb-0">They are providers of licensed health care services in the home and communities. They offer non-medical assistance with such tasks as bathing, dressing, meal preparation and transportation.</p>
                </div>
            </div>
        </div>
    </div>
</section>




