@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_SimpleLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function(ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}


<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Terms of Use</h1>
            </div>
        </div>
    </div>
</div>

<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>General</h4>
                <p>Senior Living Choices, LLC (“SLC”) is pleased to give you access to its Senior Living Choices Website (MatureLivingChoices.com and SeniorLivingChoices.com), (the "Site"), free of charge. Your use of the Site, and all information, products and services on this Site (collectively, the "Services") are subject to the binding legal terms set forth below ("Terms"). You understand we may update these Terms from time to time without giving you any notice. Unless we let you know by giving you notice, any new features or updated Services that we put on the Site will be subject to these Terms. BY USING THE SERVICES, YOU AGREE TO EACH OF THE TERMS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY TERM OR CONDITION SET FORTH BELOW, DO NOT USE THE SERVICES FOR ANY PURPOSE. The Site contains links to other Websites. Your use of such other Websites is subject to the Terms of Use, if any, contained within each such Website. If there is any conflict between the Terms set forth below and any Terms or notices set forth on any other Website, then the terms of such other Website will control your use of that Website. Please review the Terms of Use for each Website so that you understand all of the terms that will apply.</p>
                <p>In order to use the Services, you need Internet access. You also need equipment to access the Services, including computer, modem and other devices. You are responsible for the costs of your Internet access and the equipment needed, and SLC is not responsible for any of these costs.</p>
                <p>Although we attempt to make sure all of the information on the Site, including but not limited to rental rates, price, square footage, photos, elevation and floorplan images, and lot size, is accurate, by continuing to use this Site, you acknowledge, understand and agree that it may not be current, accurate, or complete and that Senior Living Choices, LLC and its suppliers do not warrant or guarantee such accuracy. YOU ARE SOLELY RESPONSIBLE FOR INDEPENDENTLY VERIFYING ALL INFORMATION ON THE SITE BEFORE RELYING ON THAT INFORMATION IN ANY MANNER.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Privacy</h4>
                <p>Any information that we may collect from you during your use of the Site is subject to our Privacy Policy. We encourage you to read and understand our <a href="terms-of-use.html">Privacy Policy</a> which can be accessed at</p>
                <p>During the registration process, you agree to give us true, accurate and complete information about yourself, and to promptly update this information when it changes. If you do not update it, we may suspend or terminate your use of the Site as explained below. Any personal information that you provide to us is subject to the terms of our <a href="terms-of-use.html">Privacy Policy</a>.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Account Information and Password Protection</h4>
                <p>When you register, you will be assigned your email address as your user name and you will select a password so that you can access your account with us. You agree that you will keep this information confidential. You are completely responsible for maintaining the confidentiality of your password and for all activities undertaken with your account and password. You agree to log off of the Services at the end of each session to prevent fraud on your account by third parties. If you think there has been unauthorized use of your account or password, you agree to immediately notify SLC and cooperate with us to resolve it. You understand that if you do not follow the terms of this paragraph, we may suspend or terminate your use of this Site as explained below. You understand that we are not responsible in any way, and will not be liable to you or to any third person, if you do not comply with the terms of this paragraph.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>How You Can Use the Services</h4>
                <p>You may use the Services on the Site for your personal use. You may make a single copy of the individual screens you see when you use the Services, but only for your personal use, and not for further distribution or transfer to others. You may not-and agree not to-modify, reformat, copy, display, distribute, transmit, publish, license, create derivative works from, transfer or sell any information obtained from the Services, except as set forth in this Agreement.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>No License Granted</h4>
                <p>Except for allowing you to use the Site for your personal use as set forth in the paragraph above, when you use the Site you are not receiving a license or any other rights from us, including intellectual property or other proprietary rights of SLC. YOU UNDERSTAND THAT YOU HAVE NO RIGHTS TO THE SERVICES OR ANY OTHER SLC PROPERTY EXCEPT AS INDICATED IN THIS AGREEMENT.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>No License Granted</h4>
                <p>Except for allowing you to use the Site for your personal use as set forth in the paragraph above, when you use the Site you are not receiving a license or any other rights from us, including intellectual property or other proprietary rights of SLC. YOU UNDERSTAND THAT YOU HAVE NO RIGHTS TO THE SERVICES OR ANY OTHER SLC PROPERTY EXCEPT AS INDICATED IN THIS AGREEMENT.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Orders for Products and Services</h4>
                <p>
                    We may make certain products available to visitors and registrants of the Web Site. If you order any products, you hereby represent and warrant that you are 18 years old or older. You agree to pay in full the prices for any purchases you make either by credit/debit card concurrent with your online order or by other payment means acceptable to Senior Living Choices, LLC. You agree to pay all applicable taxes. If payment is not received by us from your credit or debit card issuer or its agents, you agree to pay all amounts due upon demand by us.
                    Certain products that you purchase and/or download on or through the Web Site may be subject to additional terms and conditions presented to you at the time of such purchase or download.
                </p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Protecting Children</h4>
                <p>SLC strives to create a truly safe place for children on the Internet and over the airwaves. Parental control protections (such as computer hardware, software or filtering services) are commercially available that may assist parents in limiting access to content that may be harmful to minors.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Conduct of Registered Users and Visitors</h4>
                <p>We believe that all registered users and visitors benefit from basic rules regarding conduct while using any of the e-mail services so that everyone feels free to share opinions and ideas. The free flow of ideas is jeopardized when a few individuals act irresponsibly. To help everyone have a positive experience, we ask, and you agree, to follow the following basic rules of conduct when using the Site:</p>
                <ul class="mb-2 pl-0">
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will follow these Terms and all applicable laws;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will never give your password to anyone (no SLC employee will ever ask for it) and you will not provide your billing or credit information except to make a purchase;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not harass, threaten or abuse other people when using the Site in any manner;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not e-mail any User Content that is obscene or may be hateful or offensive on racial, ethnic, sexual or any other grounds; is harmful, vulgar or distasteful; or is defamatory, libelous, or invades another person's privacy or proprietary rights, including any patent, trademark, trade secret, or copyrights of any party;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not attempt to harvest any screen names of e-mail addresses for any commercial use;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not collect or store personal information about any other individual on the Site, or otherwise stalk, repeatedly contact or harass another user;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not impersonate any other person or misrepresent a relationship with any person or entity, including misrepresenting a relationship with SLC; similarly, you will not adopt a false identity if the purpose of doing so is to deceive or defraud another;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not use the Services to harm minors in any way, or encourage interactions with minors of a sexual nature;</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not manipulate the Services so as to hide your identity or participation in Services on the Site (by using another person's identity, changing headers, or otherwise modifying any other possible identifier);</li>
                    <li class="d-flex"><i class="fas fa-check pr-3"></i>You will not send any bulk unsolicited advertising, promotional information, e-mail or other solicitation (including without limitation junk mail, "spam," chain letters or pyramid schemes of any sort) to any person through the use of the Services.</li>
                </ul>
                <p>Please report any violations of these Terms to <a href="#">info@seniorlivingchoices.com</a></p>
                <p>If you violate any of the guidelines set forth above, or any other aspect of these Terms, we reserve the right to suspend or terminate your rights to use the Services without giving you any notice. In the event that your service is terminated, you will immediately lose access to any information that may be on the system. YOU UNDERSTAND THAT SLC IS NOT RESPONSIBLE FOR YOUR INABILITY TO ACCESS ANY INFORMATION ON THE SITE FOR ANY REASON, WHETHER IT BE BECAUSE OF TERMINATION OF YOUR ACCOUNT; SOFTWARE, HARDWARE, OR INTERNET PROBLEMS OR ERRORS; OR ANY OTHER REASON.</p>
                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Disclosure of Your Identity</h4>
                <p>
                    From time to time we may receive requests to disclose the identities of our users. We only will disclose the identities of ours users or other personally identifiable information in
                    accordance with the terms of our <a href="terms-of-use.html">Privacy Policy</a>.
                </p>
                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Indemnity</h4>
                <p>You understand that you are personally responsible for your behavior while on the Site , and agree to indemnify and hold SLC and its affiliates and their officers, directors, employees and agents harmless from and against any loss, damage, liability, cost or expense of any kind (including attorneys' fees) that we may incur in connection with a third party claim or otherwise, in relation to your use of the Services, or your access to the Site, or your violation of either these Terms or the rights of any third party.</p>
                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Disclaimer of Warranties</h4>
                <p>
                    YOU UNDERSTAND THAT YOUR USE OF THE SERVICES (INCLUDING ANY DOWNLOAD FROM THE SERVICES AND ANY LOSS OF DATA OR OTHER DAMAGE TO YOUR COMPUTER SYSTEM YOU EXPERIENCE FROM USING THE SERVICES) IS AT YOUR SOLE RISK. YOU UNDERSTAND THAT THE SERVICES AND ALL INFORMATION, PRODUCTS AND OTHER CONTENT
                    (INCLUDING THIRD PARTY INFORMATION, PRODUCTS AND CONTENT) INCLUDED IN OR ACCESSIBLE FROM THE SITE, ARE PROVIDED ON AN "AS IS" "WHERE-IS" AND "WHERE
                    AVAILABLE" BASIS, AND ARE SUBJECT TO CHANGE AT ANY TIME WITHOUT NOTICE TO YOU. YOU ACKNOWLEDGE THAT SLC MAKES NO WARRANTY THAT THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE. YOU UNDERSTAND THAT SLC DOES NOT WARRANT THAT THE RESULTS OBTAINED FROM YOUR USE OF THE
                    SERVICES WILL MEET YOUR EXPECTATIONS. NO WARRANTY OF ANY KIND, WHETHER ORAL OR WRITTEN, CAN MODIFY THE TERMS OF THE DISCLAIMER SET FORTH IN THIS
                    DOCUMENT.
                </p>
                <p>
                    TO THE MAXIMUM EXTENT PERMITTED BY LAW, SLC DISCLAIMS ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS OF ANY KIND (EXPRESS, IMPLIED, STATUTORY OR
                    OTHERWISE, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT OF
                    PROPRIETARY RIGHTS) AS TO THE SERVICES AND ALL INFORMATION, PRODUCTS AND OTHER CONTENT (INCLUDING THIRD PARTY INFORMATION, PRODUCTS AND CONTENT) INCLUDED IN OR ACCESSIBLE FROM THE SITE.
                </p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Liability Disclaimer</h4>
                <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL SLC OR ITS AFFILIATES BE LIABLE TO YOU (OR ANY THIRD PARTY MAKING CLAIMS THROUGH YOU) FOR ANY DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOSS OF USE, PROFITS, DATA OR OTHER INTANGIBLES, OR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, UNAUTHORIZED ACCESS TO AND TAMPERING WITH YOUR PERSONAL INFORMATION OR TRANSMISSIONS, ARISING OUT OF OR RELATED TO THE USE, INABILITY TO USE, UNAUTHORIZED USE, PERFORMANCE OR NON-PERFORMANCE OF THE SITE OR THE SERVICES, EVEN IF SLC HAS BEEN ADVISED PREVIOUSLY OF THE POSSIBILITY OF SUCH DAMAGES AND WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW OR OTHERWISE.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Access Restrictions; Termination</h4>
                <p>We can terminate your access to the Site or the Services at any time.</p>
                <p>We can also change these Terms at any time, and your continued use of the Services after any change we make will mean that you agreed with the changes. Notice to you may be made by displaying notices or links to notices to you generally on the Services. IN THE EVENT THAT YOU DO NOT AGREE TO ANY CHANGE, PLEASE DO NOT ACCESS OR USE THE SERVICES IN ANY MANNER FOR ANY PURPOSE.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Scheduled and Unscheduled Site Down Times</h4>
                <p>In order to ensure that you have the latest information and the best tools for your new home search, realestatebook.com regularly performs site maintenance. However, there may be other delays and service interruptions from time to time. We apologize for any inconvenience this may cause you. If you have questions regarding this, please contact <a href="#">info@seniorlivingchoices.com</a></p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Copyrights</h4>
                <p>All content on the Site is owned by Senior Living Choices, LLC and/or its licensees and protected by applicable law, with all rights reserved. SLC takes the protection of intellectual property rights, including copyrights, very seriously. SLC will terminate your access to, or use of, the Site and/or the services, without notice to you, if you infringe or misappropriate the intellectual property rights, including copyrights, of others. </p>
                <p>Pursuant to the Digital Millennium Copyright Act, Title 17, United States Code, Section 501 et seq., copyright owners or their authorized agents may submit a complaint of alleged copyright infringement to SLC if they have a good-faith belief that their protected works are being infringed. SLC will respond to all such notifications that are sent to:</p>
                <p>
                    <b>
                        Senior Living Choices, LLC<br>
                        P O Box 34062<br>
                        San Antonio, TX 78265<br>
                        Attn: Copyright Disputes<br>
                        210-657-2665<br>
                        info@SeniorLivingChoices.com<br>
                    </b>
                </p>

                <p class="lead font-weight-bold">To be effective, the notification must be a written communication that includes:</p>
                <p class="mt-3">
                    A physical or electronic signature of a person authorized to act on behalf of the owner of a right that is allegedly infringed;<br>
                    Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single Website are covered by a single notification, a representative list of such works at that Website;<br>
                    Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information<br>
                    reasonably sufficient to permit the service provider to locate the material;<br>
                    Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;<br>
                    A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and<br>
                    A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.<br>
                    Upon receipt of such notification, SLC shall promptly investigate the matter, and, if appropriate, remove or disable access to the allegedly infringing material. After SLC removes or
                    disables access to such material, if such material was posted by a user of the Site, SLC will notify the party that posted the material of its action. Such party may then provide SLC's<br>
                    designated agent proper "counter-notification" stating his, her or its authority to post the allegedly infringing material, which SLC will forward to the alleged copyright owner. SLC will inform the alleged copyright owner that SLC will repost the removed material or cease disabling access to it in ten to fourteen business days unless the alleged copyright owner sends a second notification to SLC's designated agent stating that it has filed suit against the alleged infringer.<br>
                    An effective counter-notification must be sent to SLC's designated agent, whose name and address are listed above. The notice must include the following information:
                </p>

                <p>
                    The counter-notifying party's physical or electronic signature;<br>
                    Identification of the material that has been removed or disabled and the location where the material was before its removal or disablement;<br>
                    A statement, under penalty of perjury, that the party has a good faith belief that the material was removed or disabled as a result of mistake or misidentification; and
                    The counter-notifying party's name, address, phone number, and a statement that the party consents to the jurisdiction of the federal court in its district, or if the subscriber is foreign, it consents to any jurisdiction where SLC is subject to jurisdiction, and that the subscriber will accept service of process from the person who provided SLC with notification or an agent of such a person.
                </p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Equal Housing Opportunity</h4>
                <p>All real estate advertising on the Site is subject to the Fair Housing Act, which makes it illegal to advertise any preference limitation or discrimination based on race, color, religion, sex, handicap, familial status or national origin, or an intention, to make any such preference, limitation or discrimination. Familial status includes children under the age of 18 living with parents or legal custodians; pregnant women; and people securing custody of children under 18.</p>
                <p>SLC will not knowingly accept any advertising for real estate which is in violation of the law. All visitors to the Site are hereby informed that all dwellings advertised in this Site are available on an equal opportunity basis. To complain of discrimination call the U.S. Department of Housing and Urban Development toll-free at 800-669-9777. The toll-free telephone number for the hearing impaired is 800-927-9275.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Trademarks</h4>
                <p>Senior Living Choices, is a trademarks of Senior Living Choices, LLC. Other trademarks are the property of Senior Living Choices, LLC or their respective owners.</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Miscellaneous</h4>
                <p>These Terms are the entire agreement between you and SLC. They supersede any and all prior or contemporaneous agreements between you and SLC relating to your use of the Site or the Services. If any part of these Terms is determined to be invalid or unenforceable, it will not impact any other provision of these Terms, all of which will remain in full force and effect. These Terms are governed by, and will be interpreted in accordance with, the laws of the State of Texas, without regard to any choice of law provisions. You agree that, with the exception of injunctive relief sought by SLC for any violation of SLC's proprietary or other rights, any and all disputes relating to these Terms, your use of the Site or the Services shall be resolved by arbitration in accordance with the then-current rules of the American Arbitration Association (the "AAA") before an independent arbitrator designated by the AAA. The location of arbitration shall be San Antonio TX,  USA. You can direct any questions concerning these</p>

                <h4 class="text-secondary"><i class="fas fa-angle-right pr-3"></i>Terms to:</h4>
                <p>
                    <b>
                        Senior Living Choices, LLC<br>
                        P O Box 34062 <br>
                        San Antonio, TX 78265<br>
                        Attn: Website Terms
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>
