<ul class="nav">    
	<li><a href="#" style="color:white;margin-right:20px;">SLC ADMIN</a></li>
    <li>@Html.ActionLink("View users", "List", "Account")</li>
    <li>@Html.ActionLink("Add User", "Create", "Account")</li>
    <li>@Html.ActionLink("Add NPMG User", "CreateAdmin", "Account")</li>
</ul>