<script type="text/html" id="notification-template">
    <div class="alert" data-bind="css: { 'alert-error': !success, 'alert-success': success }">
        <button class="btn icon-close close" data-dismiss="alert" aria-hidden="true"></button>
        <p data-bind="text: message"></p>
    </div>
</script>
