@using MSLivingChoices.Localization

<style>
    .search-bar .help-area, .head-search-bar .help-area {
        position: absolute;
        top: 34.000000006px;
        background-color: #fff;
        width: 100%;
        border: 1px solid #666;
        z-index: 10;
    }
    .help-area {
        position: absolute;
        z-index: 9999;
        background: white;
        width: 100%;
    }
    .autocomplete{padding:0;padding-left:7px;list-style:none;}
    .left{
        text-align:left;
    }
    .right{
        float:right;
    }
</style>
<form id="search-bar"
      class="col-12"
      data-bind="event: { submit: search }"
      data-search="form">
    <div class="container">
        <div class="row" style="margin:25px 0">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 d-flex justify-content-center p-0">
                <div class="input-group" style="display:block;">
                    <div class="relative" style="display:block;"
                         data-select="multi"
                         data-bind="event: { outerClick: hideHelpArea }">
                        <input type="hidden"
                               class="form-control autocomplete-input"
                               data-bind="value: autocompleteLocation" />
                        <input type="text" style="display:block;"
                               class="form-control opacity-input relative"
                               placeholder="@StaticContent.Placeholder_LookupLocation"
                               autocomplete="off"
                               data-bind="textInput: lookupLocation
                                    , event: {
                                        focus: showHelpArea
                                        , click: showHelpArea
                                        , keydown: onKeyDown
                                        , dblclick: onDoubleClick }" />
                        <div class="help-area"
                             style="display: none"
                             data-select="target"
                             data-bind="visible: isHelpAreaVisible">
                            <!-- ko with: messages -->
                            <div class="col-any-24 message"
                                 data-bind="visible: isEmptyMessageVisible()">
                                @ErrorMessages.SearchBar_NoAddress
                            </div>
                            <div class="col-any-24 message"
                                 data-bind="visible: isErrorMessageVisible(), text: errorMessage">
                            </div>
                            <div class="col-any-24 message"
                                 data-bind="visible: isErrorMessageVisible() && $parent.autocomplete.length()">
                                @StaticContent.Txt_Suggestions
                            </div>
                            <!-- /ko -->
                            <ul class="autocomplete"
                                data-bind="visible: isTemplatesVisible(), foreach: currentTemplates()">
                                <li>
                                    <span class="col-any-12 left"
                                          data-bind="text: template"></span>
                                    <span class="col-any-12 right">
                                        <a data-bind="href: url, text: lookupLocation"></a>
                                    </span>
                                </li>
                            </ul>
                            <!-- ko with: autocomplete -->
                            <ul class="autocomplete"
                                data-bind="visible: $root.isAutocompleteVisible(), foreach: list">
                                <li data-bind="click: $root.onAutocompleteClick
                                                    , event: { mouseover: function() { $parent.select($index()) } }
                                                    , css: { active: $index() === $parent.index() }">
                                    <span class="col-any-18 left">
                                        <a data-bind="click: function() { return true; }, clickBubble: false">
                                            <span data-bind="text: start"></span><span class="txt-bold" data-bind="text: end"></span>
                                        </a>
                                    </span>
                                    <span class="col-any-6 txt-right right"
                                          data-bind="text: template"></span>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <button class="btn btn-primary search-button icon-search"
                            type="submit"
                            data-bind="css: { 'in-progress': pending }">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</form>